# Node modules
node_modules/

# Output directories
dist/
build/
out/

# TypeScript incremental build files
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.local

# VSCode
.vscode/

# MacOS
.DS_Store
